@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    color: var(--Primary);
    background-color: var(--Primary);
    backdrop-filter: blur(20px);
    width: 100vw;
   backdrop-filter: blur(20px);
   overflow-y: hidden;
   color: var(--Tertiary);
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 12px; */
    /* visibility: hidden; */
    transform: scale(2);


}

.navbar .logo img {
    width: 80px;
    margin: 0.2rem;

}

.navbar .logo p {
    font-weight: 500;
    font-size: 1rem;
    color: #444444;
}

.navbar .logo p span {
    /* color: black; */
    font-size: 1.2rem;
    font-weight: 400;
}
.navbar .list {
    display: flex;
}
.navbar .list .logoutbutton{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    z-index: 10000000000000000000000000000000000;
    cursor: pointer;
    margin: 0 1rem;
}
.navbar .list .logoutbutton:hover {
    letter-spacing: 3px;
    background-color: var(--Tertiary);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}
/* .navbar .list {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
} */

/* .navbar .list a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s all ease-in-out;
    font-size: 1.1rem;
}

.navbar .list a:hover {
    color: var(--Tertiary);
} */

.key-box {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    z-index: 10000000000000000000000000000000000;
    cursor: pointer;
}

.key-box:hover {
    letter-spacing: 3px;
    background-color: var(--Tertiary);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.key-box:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}
.artlogo{
    max-width: 28px;
}