@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Lato','Poppins',sans-serif,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


:root{
  --Primary: #d7dfe0;
  --Primaryx: #d9f27e;
  --Secondary:#fccd3f;
  --Tertiary: #222222;
  --Quartenary: #ffffff;
}
.home{
  background-color: var(--Primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
  padding: 2rem;
  /* overflow: hidden; */
  z-index: 999999;
}
.home .left{
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.home .right{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.home .left h2{
  color: var(--Quartenary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  max-width: 600px;
  font-size: 3rem;
}
.home .left p{
  color: var(--Quartenary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

}
.home .buttonflex{
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.home .left .homebutton{
  transition: 0.2s all ease-in-out;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 0px;
  outline: 0px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--Primaryx);
  background-color: #222222;
  border: 3px solid var(--Secondary);
  
}
.home .left .homebutton:hover{
  background-color: #d7dfe0;
  color: var(--Tertiary);
  border: 3px solid #36a023;
}
.home .buttonlink{
  text-decoration: none;
 
}
